.element {
  background-color: #2dd1d1;
  color: black;
  border-radius: 6px;
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
}

.element figcaption {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.productDetails1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
  width: 100%;
}

.images {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: left;
  margin: 1rem;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.finalPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sellingPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price1 {
  font-size: 2rem;
  font-weight: bold;
}

.unit1 {
  font-size: 1rem;
  font-weight: bold;
}

.price2 {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.459);
  text-decoration: line-through;
}

.unit2 {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.459);
}

.descriptionHeader {
  font-size: 1.3rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
}

.formElement2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.back {
  font: inherit;
  cursor: pointer;
  background-color: #1f4b9e;
  border: 1px solid #0a0883;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 1rem;
  display: flex;
  justify-content: left;
  margin-right: 1rem;
}

.back:hover,
.back:active {
  background-color: #1b0e64;
  border-color: #0e065e;
}

.noProduct {
  font-weight: bold;
  color: red;
}
